<header class="header">
    <nav class="top-menu" aria-label="Navigazione principale">
        <ul class="top-ul-menu">
            <li class="top-li home"><a href="index.html">Home</a></li>
            <li class="top-li gioca"><a href="play.html">Gioca</a></li>
            <li class="top-li accedi"><a href="auth.html">Accedi / Registrati</a></li>
            <li class="top-li classifica"><a href="leaderboard.html">Classifica</a></li>
            <li class="top-li profilo"><a href="profile.html">Profilo</a></li>
        </ul>
    </nav>
</header>